apiVersion: v1
kind: Service
metadata:
  name: {{ include "card-separator.fullname" . }}-frontend
  labels:
    app: frontend
    {{- include "card-separator.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: frontend
    {{- include "card-separator.selectorLabels" . | nindent 4 }}
